.App {
  text-align: center;
}

.Head {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px black solid;
  display: flex;
}

.Order-Details {
  width: 30%;
  margin: 0 auto;
  border: 1px blue solid ;
}

.Add-Items {
  display: flex;
  flex-wrap: wrap;
}

.Add-Items h3 {
  width: 100%;
}

.menu {
  width: 40%;
  border: 1px greenyellow solid;
  border-radius: 50px;
  margin: 15px 20px 15px 25px
}

.menu img {
  width: 100px;
  height: 70px;
}

.menu h1 {
  margin-top: 10px;
}